.navbar {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 51;
    background: #fff;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 62px;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 8%);
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 4%;
}

.navbar.active {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 51;
    background: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 62px;
    transition: background-color 200ms ease 0s;
}